@import "palette"
//for sidebar
@import "modules/sidebar"
@import "./modules/expenselist.sass"
.wrapper
  height: 100%

.main-panel
  padding-top: 70px
  height: 100%
  width: 100%
  display: flex
  position: fixed

  .content
    flex: 1
    padding: 10px
    background-color: #f1f1f1
    overflow-y: auto

#add-expense
  position: relative
  top: -43.9px