.sidebar {
  display: none;
  font-family: "Open Sans"; }

@media (min-width: 768px) {
  .sidebar {
    background: white;
    width: 260px;
    display: flex;
    flex-direction: column;
    color: #212121;
    box-shadow: 10px 10px 10px #BDBDBD; }
  .sidebar-wrapper {
    flex: 1; }
    .sidebar-wrapper .nav {
      flex-direction: column; }
      .sidebar-wrapper .nav li {
        text-align: center;
        padding: 5px; }
        .sidebar-wrapper .nav li:hover {
          background: #1b9aaa; }
          .sidebar-wrapper .nav li:hover p {
            color: #FFFFFF; }
        .sidebar-wrapper .nav li a {
          display: inline-block;
          height: 100%;
          width: 100%;
          margin: 0;
          color: #757575; }
        .sidebar-wrapper .nav li a:hover {
          text-decoration: none; }
      .sidebar-wrapper .nav .active {
        color: #212121;
        border-right: 15px solid #1b9aaa;
        font-size: 1.1em; }
        .sidebar-wrapper .nav .active a {
          color: #212121; }
  .sidebar-footer {
    height: auto;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
    background: #1b9aaa; }
    .sidebar-footer a {
      color: #FFFFFF; }
  a:hover {
    text-decoration: none; } }

.user-details {
  display: flex;
  flex-direction: column; }
  .user-details .sidebar-profile-image {
    padding: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto; }
  .user-details .sidebar-profile-name {
    color: #1b9aaa; }

.wrapper {
  height: 100%; }

.main-panel {
  padding-top: 70px;
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed; }
  .main-panel .content {
    flex: 1;
    padding: 10px;
    background-color: #f1f1f1;
    overflow-y: auto; }

#add-expense {
  position: relative;
  top: -43.9px; }
