body {
  font-family: "Montserrat", "Open Sans", Arial, sans-serif; }

main {
  margin-top: 20px; }

.navbar {
  font-size: 1.2em; }
  .navbar .navbar-toggler {
    color: white; }

.navbar .navbar-translate {
  width: 100%; }

.card-inverse {
  color: white; }
