.sidebar
  display: none
  font-family: "Open Sans"

@media (min-width: 768px)
  .sidebar
    background: $sidebar-color
    width: 260px
    display: flex
    flex-direction: column
    color: $primary-text-color
    box-shadow: 10px 10px 10px $divider-color


  .sidebar-wrapper
    flex: 1

    .nav
      flex-direction: column

      li
        text-align: center
        padding: 5px

        &:hover
          background: $primary-color
          p
            color: $primary-color-text

        a
          display: inline-block
          height: 100%
          width: 100%
          margin: 0
          color: $secondary-text-color

        a:hover
          text-decoration: none

      .active
        color: $primary-text-color
        border-right: 15px solid $primary-color
        font-size: 1.1em
        a
          color: $primary-text-color

  .sidebar-footer
    height: auto
    text-align: center
    padding: 10px
    padding-bottom: 20px
    background: $primary-color
    a
      color: $primary-color-text

  a
    &:hover
      text-decoration: none

.user-details
  display: flex
  flex-direction: column

  .sidebar-profile-image
    padding: 10px
    width: 150px
    height: 150px
    border-radius: 50%
    margin: auto

  .sidebar-profile-name
    color: $primary-color

